<html>
<head>
    <title>httpnand</title>
</head>
<body>

<ul>
<% for (var deviceName in devices) { %>
    <li><a href="/device/<%= deviceName %>"><%= devices[deviceName].filename %></a></li>
<% } %>
</ul>
</body>
</html>